yc_token                = ""
yc_cloud_id             = ""
yc_folder_id            = ""
yc_zone                 = "ru-central1-a"
yc_subnet_name          = "otus-subnet"
yc_network_name         = "otus-network"
yc_subnet_range         = "10.5.0.0/24"
yc_mysql_cluster_name   = "otus-mysql-cluster"
yc_mysql_version        = "8.0"
yc_mysql_environment    = "PRODUCTION"
yc_service_account_name = "otus-sa"
yc_bucket_name          = "otus-bucket"
mysql_database_name     = "otus-database"
mysql_user_name         = "otus-user"
mysql_user_password     = "otus-password"
